*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/androidTest/java/com/example/transcriptionapp/ExampleInstrumentedTest.kt
/app/src/test/java/com/example/transcriptionapp/ExampleUnitTest.kt
/.idea/ktfmt.xml
/Pixel-7-Pro-API-34-Android-14_2024-12-14_234155.logcat
/.idea/deploymentTargetSelector.xml
/.idea/misc.xml
/Firebase/.firebaserc
/Firebase/functions/.gitignore
/Firebase/.gitignore
/Firebase/firebase.json
/Firebase/firebase-tools-instant-win.exe
/app/google-services.json
/google-services.json
/Firebase/functions/main.py
/Firebase/functions/requirements.txt
